@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
        url('#{$file-path}.woff') format('woff'),
        url('#{$file-path}.ttf') format('truetype'),
        url('#{$file-path}.svg##{$font-family}') format('svg');
        font-weight: $font-weight;
        font-style: $font-style;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @font-face {
            font-family: $font-family;
            src: url('#{$file-path}.svg##{$font-family}') format('svg');
        }
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
@include font-face('paca-font', '/assets/Pacapillar.ttf', 'bold', 'normal');
@font-face {
	font-family: "pacafont";
	font-style: normal;
	font-weight: bold;
	src: url("/assets/Pacapillar.ttf");
}
$mainFont: 'Roboto', sans-serif;
$pacaFont: 'pacafont', sans-serif;
