@charset "UTF-8";

@import "main/colors";
@import "main/fonts";

#App {
    $appHeight: calc(100vh - 51px);
    font-family: $mainFont;

    #mainContainer {
        margin-top: 51px;
        margin-left: 0;
        margin-right: 0;
        min-height: $appHeight;
        width: 100vw;

        .mainContent {
            height: calc(100vh - 51px);
            overflow-x: hidden;
            padding-bottom: 50px;
        }

        .dropdown-menu a:hover {
            cursor: pointer;
        }

        .btn-primary {
            background-color: $main;
            border-color: $main;

            &:hover {
                background-color: $main-selected;
                border-color: $main-selected;
            }
        }

        #inventoryTransactionModal {
            .panel {
                display: inline-block;
                text-align: center;
                vertical-align: top;
                width: 100px;
                margin: 5px;

                &:hover {
                    border-color: $main;
                }

                &.selected {
                    border-color: $main;

                    .panel-body {
                        background: $main-selected;
                    }
                }
            }
        }

        #userList {
            .table-responsive {
                display: initial;
            }

            .currencyFrame {
                background: $background-light;
                padding-top: 60px;

                .data {
                    text-align: center;
                    padding: 20px 0px;
                    background: gray;
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 30px;
                }

                .currencyFooter {
                    text-align: right;
                    color: $main-text;
                    background: $background-dark;
                    padding: 3px 20px;
                }
            }
        }

        #loginMessage {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;

            .jumbotron {
                background: $main;
                color: $main-text;
            }
        }

        .lateral-navbar {
            height: $appHeight;
            background: $background-dark;
            padding: 0px;

            a {
                display: block;
                padding: 10px 15px;
                color: $main-text;
                text-decoration: none;
            }

            a:hover {
                background: $main;
            }

            a.router-link-active {
                background: $main-selected;
            }
        }
    }

    textarea {
        resize: none;
    }
}
