@charset "UTF-8";

@import "main/colors";
@import "main/fonts";

#App {
    $appHeight: calc(100vh - 51px);
    font-family: $mainFont;

    #mainContainer {
        margin-top: 51px;
        margin-left: 0;
        margin-right: 0;
        min-height: $appHeight;
        width: calc(100vw - 15px);

        #loginMessage {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;

            .jumbotron {
                background: $main;
                color: $main-text;
            }
        }

        .lateral-navbar {
            height: $appHeight;
            background: $background-dark;
            padding: 0px;

            a {
                display: block;
                padding: 10px 15px;
                color: $main-text;
                text-decoration: none;
            }

            a:hover {
                background: $main;
            }

            a.selected {
                background: $main-selected;
            }
        }
    }
}
